/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    color: white;
    background: black;
    font-family: Arial;
    display: flex;
    height: 100vh;
    lenght: 100vw;
    overflow: hidden;
    margin: 0;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)
    ),
    url("https://storage.googleapis.com/glide-prod.appspot.com/uploads-v2/RVVwi2xm6AnKav4vSzPS/pub/BRa1rkpoDZnkbUj0EWpn.jpg");
    backdrop-filter: blur(30px);
}

.root {
    height: 100%;
    width: 100%;
}

a:hover {
    opacity: 1;
    text-decoration: none;
}