/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    color: white;
    background: black;
    font-family: Gilroy;
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)
    ),
    url("https://docs.google.com/uc?id=1SPL98oOenRfZHhmvR2TkfxZA2aGr-iDr"),
    url("https://docs.google.com/uc?id=1j74lAxqhVhiuhe2xF4gFq8yP_5HZZnxR");
    background-size: 100vh;
    backdrop-filter: blur(0px);
}

    .root {
        height: 100%;
        width: 100%;
    }

    a:hover {
        opacity: 1;
        text-decoration: none;
    }