/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    color: white;
    background: black;
    font-family: Gilroy;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)
    ),
    url("https://c4.wallpaperflare.com/wallpaper/553/564/19/cyberpunk-amoled-dark-vertical-hd-wallpaper-preview.jpg"),
    url("https://c4.wallpaperflare.com/wallpaper/553/564/19/cyberpunk-amoled-dark-vertical-hd-wallpaper-preview.jpg");
    background-size: 100vw;
    backdrop-filter: blur(4px);
}

@media (min-width:1200px) {
    .body {
        background-size: 100vw;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)
        ),
        url("https://wallpapercave.com/wp/HByeKGm.jpg"),
        url("https://wallpapercave.com/wp/HByeKGm.jpg");
    }
}



    .root {
        height: 100%;
        width: 100%;
    }

    a:hover {
        opacity: 1;
        text-decoration: none;
    }