.logo {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 20%;
}

.logo-name-time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.date-time-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.date-string {
    font-family: Gilroy, serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: right;
    opacity: 0.5;
}
.time-string {
    font-family: Gilroy, serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: right;
}

.theatre-name {
    position: absolute;
    height: 26px;
    left: 360.56px;
    top: 65px;

    color: #FFFFFF;
    opacity: 0.3;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */

    display: flex;
    align-items: center;
}
.time-settings-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.settings-button {
    height: 25px;
    border-radius: 50%;
}